<header class="catalog-hero">
  <div class="hero-container">
    <h1 class="hero-title">Catálogo de Productos</h1>
    <div class="breadcrumb">
      <a routerLink="/" class="link-inicio">Inicio</a>

      <span class="separator"> > </span>

      <span class="current">Productos</span>
    </div>
  </div>
</header>

<div class="catalog-layout container">

  <aside class="filter-card">
    <div class="filter-header">
      <h3>Filtros</h3>
      <button class="clear-filters-btn">
        <i class="fa-solid fa-filter-circle-xmark"></i>
      </button>
    </div>

    <div class="filter-group filter-green">
      <label><span class="dot-green"></span> Categoría</label>
      <mat-form-field appearance="outline" class="full-width theme-green" subscriptSizing="dynamic">
        <mat-select panelClass="panel-green" value="Todas">
          <mat-option value="Todas">Todas</mat-option>
          <mat-option value="Frutas">Frutas</mat-option>
          <mat-option value="Verduras">Verduras</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filter-group filter-orange">
      <label><span class="dot-orange"></span> Rango de Precio</label>

      <div class="slider-container">
        <mat-slider min="0" max="100" step="1">
          <input matSliderStartThumb [(ngModel)]="minPrice" (dragEnd)="filtrarPorPrecio()">
          <input matSliderEndThumb [(ngModel)]="maxPrice" (dragEnd)="filtrarPorPrecio()">
        </mat-slider>
      </div>

      <div class="range-labels">
        <span class="price-tag min">{{ minPrice }}€</span>
        <span class="price-tag max">{{ maxPrice }}€</span>
      </div>
    </div>

    <div class="filter-group filter-blue">
      <label><span class="dot-blue"></span> Ubicación</label>
      <mat-form-field appearance="outline" class="full-width theme-blue" subscriptSizing="dynamic">
        <mat-select panelClass="panel-blue" value="Destacados">
          <mat-option value="Destacados">Todas</mat-option>
          <mat-option value="asc">La Rioja</mat-option>
          <mat-option value="desc">Madrid</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filter-group filter-red">
      <label><span class="dot-red"></span> Valoración</label>
      <mat-form-field appearance="outline" class="full-width theme-red" subscriptSizing="dynamic">
        <mat-select panelClass="panel-red" value="Destacados">
          <mat-option value="Destacados">Todas</mat-option>
          <mat-option value="asc">5 estrellas</mat-option>
          <mat-option value="desc">4 estrellas</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filter-group filter-purple">
      <label><span class="dot-purple"></span> Tipo de cultivo</label>
      <mat-form-field appearance="outline" class="full-width theme-purple" subscriptSizing="dynamic">
        <mat-select panelClass="panel-purple" value="Destacados">
          <mat-option value="Destacados">Todos</mat-option>
          <mat-option value="asc">5 estrellas</mat-option>
          <mat-option value="desc">4 estrellas</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </aside>

  <main class="products-area">

    <div class="area-header">
      <span class="results-info" *ngIf="totalProductos > 0">
        Mostrando {{ desde }}-{{ hasta }} de {{ totalProductos }} productos
      </span>
      <span class="results-info" *ngIf="totalProductos === 0">
        No se encontraron productos
      </span>
    </div>

    <div class="products-grid">
      <div class="product-card" *ngFor="let prod of productos">

        <div class="card-image">
          <div class="stock-badge" *ngIf="prod.stock_quantity <= 5" [class.no-stock]="prod.stock_quantity === 0">
            {{ prod.stock_quantity === 0 ? 'Agotado' : '¡Casi agotado!' }}
          </div>

          <button class="wishlist-btn" [class.active]="prod.fav" (click)="toggleFavorite(prod)">
            <i [class]="prod.fav ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"></i>
          </button>

          <img *ngIf="prod.images && prod.images.length > 0"
            [src]="'http://127.0.0.1:8000/storage/' + prod.images[0].image_path" alt="{{ prod.name }}">

          <div *ngIf="!prod.images || prod.images.length === 0" class="placeholder-img">
            <i class="fa-solid fa-image"></i>
          </div>
        </div>

        <div class="card-content">
          <h4 class="product-title">{{ prod.name }}</h4>

          <p class="product-desc">{{ prod.description }}</p>

          <div class="seller-box" *ngIf="prod.farmer">
            <span class="seller-name">{{ prod.farmer.full_name || 'Agricultor Local' }}</span>
            <span class="seller-location"><i class="fa-solid fa-location-dot"></i> Logroño</span>
          </div>

          <div class="card-footer">
            <div class="price-box">
              <span class="price-main">{{ prod.price }}€</span>
              <span class="price-unit">/{{ prod.unit }}</span>
            </div>
            <button class="add-button" [disabled]="prod.stock_quantity === 0" (click)="agregarAlCarrito(prod)">
              <i class="fa-solid fa-plus"></i> Añadir
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-wrapper" *ngIf="totalPaginas > 1">

      <button class="pag-arrow" (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">
        <i class="fa-solid fa-chevron-left"></i>
      </button>

      <button *ngFor="let p of numeracionPaginas" class="pag-num" [class.active]="paginaActual === p"
        (click)="cambiarPagina(p)">
        {{ p }}
      </button>

      <button class="pag-arrow" (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas">
        <i class="fa-solid fa-chevron-right"></i>
      </button>

    </div>
  </main>
</div>