name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          # Tu Token Secreto de Azure
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_KIND_TREE_0AAD5B910 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} 
          action: "upload"
          
          ###### Configuraciones de Ruta ######
          
          # 1. Donde está el código fuente (tu carpeta de Angular)
          app_location: "/frontend-agro" 
          
          # 2. Dejamos vacío si el backend va por App Service (Docker)
          api_location: "" 
          
          # 3. Ruta donde Angular deja los archivos tras el build
          # Nota: Para Angular 17+, la ruta suele llevar '/browser' al final
          output_location: "dist/frontend-agro/browser" 
          
          ###### Fin de Configuraciones ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_KIND_TREE_0AAD5B910 }}
          action: "close"